



 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

  .page1{
    	display:none; 
  }
  .col-xs-4{
  	width:20px;
  	height: 50px;
  font-size:40px;
  }
  #footer{
  	text-align:right;
  	font-size: 40px; 
  }


  #demo1{
  	margin: 20px;
  }
input[type=text] {
    float:right;
   width: 130px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   background-color: white;
   background-image: url('images/images.png');
   background-position: 10px 10px;
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
   width: 60%;
}
  